<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <link rel="stylesheet" href="/static/style.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <title>Pug template engine</title>
  </head>
  <body>
    {{>_nav}}
    <div class="container">
      <header class="red">
        <h2>Pug template engine</h2>
      </header>
      {{#each users}}
      <section>
        <h2 class="blue"></h2>
        <p class="pink">my name is mohammad javad i wanna lern ten
          finger type but it is verry hard and i dont know where to
          start</p>
        <p>{{this.id}}</p>
      </section> 
      {{/each}}
    </div>
    {{>_footer}}
  </body>
</html>