<nav class="navbar navbar-dark bg-primary navbar-expand">
  <div class="container">
    <a class="navbar-brand" href="#">Pug </a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" href="#"><span
          >Home</span></a></li>
      <li class="nav-item"><a class="nav-link" href="#"><span
          >Blogs</span></a></li>
      <li class="nav-item"><a class="nav-link" href="#"><span
          >Courses</span></a></li>
      <li class="nav-item"><a class="nav-link" href="#"><span
          >Login</span></a></li>
      <li class="nav-item"><a class="nav-link" href="#"><span
          >Register</span></a></li>
      <li class="nav-item"><a class="nav-link" href="#"><span
          >About</span></a></li>
    </ul>
  </div>
</nav>